.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: border  $transition-300;

    &--error {
       opacity: 0.5;
       border: 1px solid $color-orange-red;
    }

    &:hover {
      border: 1px solid black;
    }

    &:focus {
      border: 1px solid black;
    }
  

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }
  }

  &__text {
    display: none;
    position: absolute;
    max-width: 300px;
    left: 0;
    bottom: 0;
    transform: translate(10%, 100%);

    &--error {
      display: block;
      color: $color-orange-red;
    }
  }
}
